:sass
  body
  background-image: url('background.jpg')
  text-align: center
  vertical-align: middle
  color: white
  img
    margin: 10px 0
  .lottery
    background-image: url('background.jpg')
    padding-bottom: 10px
    color: white
    background-color: grey
    .lottery-ticket-image
      width: 140px
    .randomizing-part
      .line
        display: none
        height: 180px
        border-right: 3px solid #141C25
        z-index: 20
        position: absolute
        margin-left: 201px
      margin-bottom: 10px
      background-color: #141C25
      padding-bottom: 30px
      .open-btn
        border: 1px solid black
        color: white
        background-color: #4D6C24
        border-radius: 0
        margin-top: 40px
      #carusel
        vertical-align: center
        width: 400px
        height: 100%
        background-image: url('background.jpg')
        display: block
        margin-left: auto
        margin-right: auto
.lottery
  .randomizing-part
    .row
      .col-xs-12
        %h3
          Sub case opening
    .row
      .col-xs-12
        #carusel
          .line
          #owl.owl-carousel
            - LotteryTicket.find_tickets(@lottery_tickets.pluck(:id)).each do |ticket|
              .item
                = image_tag ticket.image.url(:medium)
    .row
      .col-xs-12
        = link_to 'Open', '#', class: 'btn btn-sm btn-default open-btn'
  - @lottery_tickets.each_slice(6) do |tickets_chunk|
    .row
      - tickets_chunk.each do |ticket|
        .col-xs-2
          = image_tag ticket.image.url(:medium), class: 'lottery-ticket-image'
          
%link{crossorigin: "anonymous", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}/
= javascript_include_tag 'owl.carousel.js'



